<div id="<%= dom_id article %>">
  <p>
    <strong>Nombre del gatito:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong> Historia de viaje:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Fecha de viaje:</strong>
    <%= article.when_went %>
  </p>


</div>
